In [1]:
import pandas as pd

In [2]:
import os
os.chdir("C:/Users/HP/Documents/Python Scripts")  # Change to your desired path
print(os.getcwd())

C:\Users\HP\Documents\Python Scripts

In [3]:
Inflation_data =pd.read_csv("inflation_data.csv",sep="\t")

In [4]:
Inflation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            70 non-null     float64
 5   1961            72 non-null     float64
 6   1962            74 non-null     float64
 7   1963            74 non-null     float64
 8   1964            79 non-null     float64
 9   1965            86 non-null     float64
 10  1966            93 non-null     float64
 11  1967            99 non-null     float64
 12  1968            100 non-null    float64
 13  1969            101 non-null    float64
 14  1970            107 non-null    float64
 15  1971            111 non-null    float64
 16  1972            113 non-null    float64
 17  1973            116 non-null    float64
 18  1974            118 non-null    float64
 19  1975            124 non-null    float64
 20  1976            126 non-null    float64
 21  1977            131 non-null    float64
 22  1978            131 non-null    float64
 23  1979            126 non-null    float64
 24  1980            133 non-null    float64
 25  1981            150 non-null    float64
 26  1982            151 non-null    float64
 27  1983            151 non-null    float64
 28  1984            155 non-null    float64
 29  1985            156 non-null    float64
 30  1986            164 non-null    float64
 31  1987            170 non-null    float64
 32  1988            170 non-null    float64
 33  1989            173 non-null    float64
 34  1990            173 non-null    float64
 35  1991            179 non-null    float64
 36  1992            187 non-null    float64
 37  1993            193 non-null    float64
 38  1994            198 non-null    float64
 39  1995            202 non-null    float64
 40  1996            205 non-null    float64
 41  1997            205 non-null    float64
 42  1998            205 non-null    float64
 43  1999            207 non-null    float64
 44  2000            211 non-null    float64
 45  2001            216 non-null    float64
 46  2002            218 non-null    float64
 47  2003            221 non-null    float64
 48  2004            222 non-null    float64
 49  2005            225 non-null    float64
 50  2006            228 non-null    float64
 51  2007            230 non-null    float64
 52  2008            231 non-null    float64
 53  2009            234 non-null    float64
 54  2010            236 non-null    float64
 55  2011            240 non-null    float64
 56  2012            239 non-null    float64
 57  2013            238 non-null    float64
 58  2014            237 non-null    float64
 59  2015            236 non-null    float64
 60  2016            236 non-null    float64
 61  2017            231 non-null    float64
 62  2018            228 non-null    float64
 63  2019            228 non-null    float64
 64  2020            222 non-null    float64
 65  2021            222 non-null    float64
 66  2022            221 non-null    float64
 67  2023            211 non-null    float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [5]:
Inflation_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [6]:
Inflation_data['Country Name']=='kenya'

0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Name: Country Name, Length: 266, dtype: bool

In [7]:
Inflation_data_Kenya = Inflation_data[Inflation_data["Country Name"] == 'Kenya']

In [8]:
Inflation_data_Kenya

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
121,Kenya,KEN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.243781,2.457002,3.117506,0.697674,-0.099305,3.578529,...,6.878155,6.582154,6.29725,8.00565,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396

In [9]:
Inflation_data_Kenya.drop(columns=['Country Name','Country Code','Indicator Name','Indicator Code'])

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
121,1.243781,2.457002,3.117506,0.697674,-0.099305,3.578529,5.014395,1.759196,0.366712,-0.171501,...,6.878155,6.582154,6.29725,8.00565,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396

In [11]:
# Transpose the DataFrame so years become the index
Inflation_Kenya = Inflation_data_Kenya.transpose()
# Rename the columns for clarity (optional)
Inflation_Kenya.columns = ['Inflation']

Inflation_Kenya.tail()

     Inflation
2019  5.239638
2020  5.405162
2021  6.107936
2022  7.659863
2023  7.671396