In [6]:
import pandas as pd

In [7]:
Inflation_data =pd.read_csv("inflation_consumer_index_data.csv",sep="\t")

In [8]:
Inflation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 1 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Data Source,"World Development Indicators",  268 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB

In [9]:
Inflation_data.columns

Index(['Data Source,"World Development Indicators",'], dtype='object')

In [10]:
Inflation_data['Country Name']=='kenya'

KeyError: 'Country Name'

In [7]:
Inflation_data_Kenya = Inflation_data[Inflation_data["Country Name"] == 'Kenya']

In [8]:
Inflation_data_Kenya

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
121,Kenya,KEN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.243781,2.457002,3.117506,0.697674,-0.099305,3.578529,...,6.878155,6.582154,6.29725,8.00565,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396

In [9]:
Inflation_data_Kenya.drop(columns=['Country Name','Country Code','Indicator Name','Indicator Code'])

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
121,1.243781,2.457002,3.117506,0.697674,-0.099305,3.578529,5.014395,1.759196,0.366712,-0.171501,...,6.878155,6.582154,6.29725,8.00565,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396

In [11]:
# Transpose the DataFrame so years become the index
Inflation_Kenya = Inflation_data_Kenya.transpose()
# Rename the columns for clarity (optional)
Inflation_Kenya.columns = ['Inflation']

Inflation_Kenya.tail()

     Inflation
2019  5.239638
2020  5.405162
2021  6.107936
2022  7.659863
2023  7.671396