In [12]:
# import pandas library
import pandas as pd

In [18]:
# load the data
data = pd.read_csv("inflation_consumer_index_data.csv", sep=';', skiprows=4)

In [19]:
# handling missing values using forward fill
data.ffill(inplace=True)

In [25]:
import pandas as pd
data = pd.read_csv('inflation_consumer_index_data.csv', sep=';', skiprows=4, quotechar='"')  # Replace with your file name
print(data.columns)
print(data.head())

Index(['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023",'], dtype='object')
  Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023",
0  Aruba,"ABW","Inflation, consumer prices (annua...
1  Africa Eastern and Southern,"AFE","Inflation, ...
2  Afghanistan,"AFG","Inflation, consumer prices ...
3  Africa Western and Central,"AFW","Inflation, c...
4  Angola,"AGO","Inflation, consumer prices (annu...

In [26]:
# If the first column contains the mashed-up string
column_names = data.columns[0].split('","')
# Clean up any extra quotes
column_names = [name.strip('"') for name in column_names]
# If the data rows are also mashed up, split them too
data = data.iloc[:, 0].str.split('","', expand=True)
data.columns = column_names
print(data.head())

         Country Name,"Country Code                         Indicator Name  \
0                        Aruba,"ABW  Inflation, consumer prices (annual %)
1  Africa Eastern and Southern,"AFE  Inflation, consumer prices (annual %)
2                  Afghanistan,"AFG  Inflation, consumer prices (annual %)
3   Africa Western and Central,"AFW  Inflation, consumer prices (annual %)
4                       Angola,"AGO  Inflation, consumer prices (annual %)

   Indicator Code 1960 1961 1962 1963 1964 1965 1966  ...               2014  \
0  FP.CPI.TOTL.ZG                                     ...  0.421440918881214
1  FP.CPI.TOTL.ZG                                     ...   5.37028961008587
2  FP.CPI.TOTL.ZG                                     ...   4.67399603536305
3  FP.CPI.TOTL.ZG                                     ...   1.76843582146219
4  FP.CPI.TOTL.ZG                                     ...   7.28038730361121

                2015                2016               2017  \
0  0.474763597342641  -0.931195987079561  -1.02828178762012
1   5.24587835022454    6.57139642173964   6.39934341569381
2  -0.66170916471352    4.38389195513893   4.97595150553892
3   2.13081738058791    1.48741550755546   1.72548602374723
4   9.35597215533784    30.6944150806719   29.8444799015679

                2018              2019              2020              2021  \
0   3.62604141352961  4.25746204335428
1   4.72080474200535  4.65366473106483  5.40516207933392  7.24097765588442
2  0.626149149168983  2.30237251516819
3   1.78404994832039  1.98309228487231  2.49037783931944  3.74570045027355
4   19.6289379701521   17.080954143438   22.271539247051  25.7542948841891

               2022              2023",
0                                    ",
1  10.7737512242899  7.12697482131851",
2                                    ",
3  7.94925143524016  4.95305034506872",
4  21.3552901320822  13.6441017767715",

[5 rows x 67 columns]

In [ ]:
import pandas as pd

# Split the column names
column_names = data.columns[0].split('","')
column_names = [name.strip('"') for name in column_names]
print("Column names after split:", column_names)

# Split the data rows
data = data.iloc[:, 0].str.split('","', expand=True)
data.columns = column_names
print("Columns after initial assignment:", data.columns.tolist())

# Inspect the first column before splitting
print("First column sample:", data.iloc[:, 0].head().tolist())

# Split the first column into Country Name and Country Code, handling inconsistencies
split_data = data.iloc[:, 0].str.split(',', n=1, expand=True)
# Ensure we have at least 2 columns, filling with None if needed
if split_data.shape[1] < 2:
    split_data[1] = None  # Add a second column if split only produced one

# Assign to new columns
data[['Country Name', 'Country Code']] = split_data
data['Country Code'] = data['Country Code'].str.strip('"')

# Drop the original first column
data = data.drop(data.columns[0], axis=1)
print("Columns after dropping first column:", data.columns.tolist())

# Check and clean the last column (likely '2023')
if '2023' in data.columns:
    data['2023'] = data['2023'].str.rstrip('",')
else:
    print("Column '2023' not found. Last column might be:", data.columns[-1])
    data[data.columns[-1]] = data[data.columns[-1]].str.rstrip('",')

# Convert year columns to numeric
year_cols = [col for col in data.columns if col.isdigit()]
data[year_cols] = data[year_cols].apply(pd.to_numeric, errors='coerce')

# Display
print(data.head())

Column names after split: ['Country Name']
Columns after initial assignment: ['Country Name']

ValueError: Columns must be same length as key

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country Name,"Country Code  266 non-null    object
 1   Indicator Name              266 non-null    object
 2   Indicator Code              266 non-null    object
 3   1960                        266 non-null    object
 4   1961                        266 non-null    object
 5   1962                        266 non-null    object
 6   1963                        266 non-null    object
 7   1964                        266 non-null    object
 8   1965                        266 non-null    object
 9   1966                        266 non-null    object
 10  1967                        266 non-null    object
 11  1968                        266 non-null    object
 12  1969                        266 non-null    object
 13  1970                        266 non-null    object
 14  1971                        266 non-null    object
 15  1972                        266 non-null    object
 16  1973                        266 non-null    object
 17  1974                        266 non-null    object
 18  1975                        266 non-null    object
 19  1976                        266 non-null    object
 20  1977                        266 non-null    object
 21  1978                        266 non-null    object
 22  1979                        266 non-null    object
 23  1980                        266 non-null    object
 24  1981                        266 non-null    object
 25  1982                        266 non-null    object
 26  1983                        266 non-null    object
 27  1984                        266 non-null    object
 28  1985                        266 non-null    object
 29  1986                        266 non-null    object
 30  1987                        266 non-null    object
 31  1988                        266 non-null    object
 32  1989                        266 non-null    object
 33  1990                        266 non-null    object
 34  1991                        266 non-null    object
 35  1992                        266 non-null    object
 36  1993                        266 non-null    object
 37  1994                        266 non-null    object
 38  1995                        266 non-null    object
 39  1996                        266 non-null    object
 40  1997                        266 non-null    object
 41  1998                        266 non-null    object
 42  1999                        266 non-null    object
 43  2000                        266 non-null    object
 44  2001                        266 non-null    object
 45  2002                        266 non-null    object
 46  2003                        266 non-null    object
 47  2004                        266 non-null    object
 48  2005                        266 non-null    object
 49  2006                        266 non-null    object
 50  2007                        266 non-null    object
 51  2008                        266 non-null    object
 52  2009                        266 non-null    object
 53  2010                        266 non-null    object
 54  2011                        266 non-null    object
 55  2012                        266 non-null    object
 56  2013                        266 non-null    object
 57  2014                        266 non-null    object
 58  2015                        266 non-null    object
 59  2016                        266 non-null    object
 60  2017                        266 non-null    object
 61  2018                        266 non-null    object
 62  2019                        266 non-null    object
 63  2020                        266 non-null    object
 64  2021                        266 non-null    object
 65  2022                        266 non-null    object
 66  2023",                      266 non-null    object
dtypes: object(67)
memory usage: 139.4+ KB